<!DOCTYPE html>
<html lang="en" dir="ltr">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript>
      function setYTClip(item) {
          var id = $(item).attr("id");
          $("iframe").attr("src", id);
      }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
  <head>
    <meta charset="utf-8">
    <title>coursestamp</title>
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <center>
        <img style="width:400px; padding-top:100px; padding-bottom:20px" src="{{url_for('static', filename='logo.png')}}" align="middle" />
          <form action="" method="post" role="form">
            {{ form.hidden_tag() }}
            <div class="input-group">
                <input type="text" class="form-control" id="query" name="query" placeholder="Search for a keyword or keyphrase">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit" name="search" value="text"><i class="fas fa-search"></i></button>
                  <button type="submit" class="btn btn-outline-secondary" name="search" value="voice"><i class="fas fa-microphone"></i></button>
                </div>
            </div>
          </form>
        {% if showViewer == true %}
        <iframe style="float:right;padding-top:32px;padding-left:32px" width="66%" height="600px" src="{{urls[0]}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
        <br>
        
        <div style="float:left;width:33%;overflow:scroll;height:600px">
          <h3 style="padding:32px;" class="title">{{ name }}</h3>
          {% for url in urls %}
              <p id="{{url}}" onclick="setYTClip(this)"> {{ leftContexts[loop.index0] }}<b>{{ name }}</b> {{ rightContexts[loop.index0] }} </p>
          {% endfor %}
        </div>
      </center>
    </div>
  </body>
</html>
